h2 {
    color: black;
    text-align: center;
}
table {
    width: 50%;
    background-color: rgb(193, 96, 96);
    margin: 30px;
    padding: 20px;
    margin-top: auto;
    border: solid 4px rgb(22, 204, 204);
}
div {
    background-color: rgb(102, 219, 219);
    text-align: center;
    border: solid 5px rgb(82, 184, 207);
}
img {
    width: 400px;
    height: 400px;
    border-radius: 10%;
   
}
p {
    color: rgb(183, 232, 48);
    height: 20px;
    padding: 20%;
    border-radius: 3%;
}
a {
    color: blueviolet;
}
hr {
    width:50%;
    border: solid 4px rgb(206, 95, 95);
    border-radius: 50%;
}